<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Manual Css  -->
    <link rel="stylesheet" href="../css/style.css">
    <title>Hello, world!</title>
</head>

<body>
    {{>nav}}

    <!-- history  -->
    <section class="history-sec">
        {{>sidenavAcademics}}

<section class="">
    <div class="">
        <h1 class="text-center text-primary head_methodology display-4">Departments</h1>
        <hr class="w-25 m-auto mt-3 hr-method">

        <p class="para-history mt-5 me-5">
            
            To make the teaching learning process both effective and <br> interesting we have various departments such as :-<br> <br> 
            
            Smart Class Technology<br> <br> 
            Sports & Health Club Department<br> <br> 
            Science Labs<br> <br> 
            Literary Department<br> <br> 
            IT Department<br> <br> 
            Maths Labs        </p>

            <hr class="w-75 m-auto my-5">
            <h1 class="text-center mt-5  fs-1 display-1">Smart Class Technology</h1>
            <hr class="w-25 m-auto">
            <p class="para-history my-5 ">	We aim to amalgamate technology in the classroom alongside conventional blackboard and chalk. class room is operational with interactive board which enables learning teaching process to be interactive, resourceful and research oriented. <br><br>

                Smart class is a digital initiative. This initiative endeavors to make accessible a enormous resource of information to each class through an interactive multimedia white board, thereby fostering a better understanding and igniting a lifelong love of learning.</p>

                <hr class="w-75 m-auto">

                <h1 class="text-center mt-5 fs-1 display-1">Sports & Health Club Department</h1>

                <hr class="w-25 m-auto">
                
                <p class="my-5 para-history">
                    <img src="../images/pexels-thisisengineering-3862132.jpg" alt="" class="img-fluid w-25 h-25">
                    <p class="d-block para-history">The School Sports and Health Department provides electronic gadgets to encourage and supports the execution of suitable sport and sport-focused programs for all students by encouraging participation, skill improvement and brilliance in performance.</p></p>

                    <hr class="w-75 m-auto">

                    

                <h1 class="text-center mt-5 fs-1 display-1">Science Department</h1>

                <hr class="w-25 m-auto">
                
                <p class="my-5 para-history">
                    <img src="../images/pexels-thisisengineering-3862132.jpg" alt="" class="img-fluid w-25 h-25">
                    <p class="d-block para-history">The gift of science has added greatly to the decorum and sublimity of human civilization and science is often applauded as an guardian angel of ingenious ideas. It is to sharpen these creative ideas that SMCP Sanskar Vidya Bhavan has excellent laboratories of Physics, Chemistry and Biology; and it is here that students learn to bring their experiments out of these labs to their daily lives.<br><br>

                        1. Physics Lab
                        It is an ultra modern lab fully equipped with latest apparatus to provide the much needed facilities to the students from classes I to XII. The lab caters to the requirement of students from classes VI-XII.<br><br>
                        
                        2. Chemistry Lab
                        The Chemistry Lab in SMCP Sanskar Vidya Bhavan is well equipped with all modern apparatus and chemicals required upto class XII.. Students are guided by qualified teachers and lab assistants to complete their projects and experiments.<br><br>
                        
                        3. Biology Lab
                        The spacious, well ventilated Biology Lab caters to the requirement of senior students. Keeping the latest syllabus in mind the models, specimens, charts, chemicals etc have been well planned. <br><br>
                        
                        Technology advancement has affected every sphere of life especially education. This has changed our perception of what a school should provide for its students. In times of booming technology the computer labs at SMCP Sanskar Vidya Bhavan provide the appropriate platform to the students to be future technocrats. The computer labs are used not just to hone the skills of computer but also provide an exposure to the novices. two main labs cater to the needs of senior, middle and junior sections, the labs also provide facilities to the students to explore the world through internet..In the middle and sr. wing students are taught concepts of flash, HTML, MS Office, C and C++ at various levels which prepare them to face the tough challenge of computer world later on. It is in these labs that the teachers also get the facilities to learn while they work in their separate labs on the computers.
                        </p></p>

                    <hr class="w-75 m-auto">

                <h1 class="text-center mt-5 fs-1 display-1">Literary Department</h1>

                <hr class="w-25 m-auto">
                
                <p class="my-5 para-history">
                    <img src="../images/pexels-thisisengineering-3862132.jpg" alt="" class="img-fluid w-25 h-25">
                    <p class="d-block para-history">School’s literary clubs aims to instill the appreciation for literary works.
                        It also ensures that students enhance their vocabulary, grasp correct pronunciation and frame grammatically correct sentences through Linguaphone and other Audio visual aids in linguistic classes.
                        </p></p>

                    <hr class="w-75 m-auto">

                <h1 class="text-center mt-5 fs-1 display-1">IT Department</h1>

                <hr class="w-25 m-auto">
                
                <p class="my-5 para-history">
                    <img src="../images/pexels-thisisengineering-3862132.jpg" alt="" class="img-fluid w-25 h-25">
                    <p class="d-block para-history">	The IT Department houses more than 60 computers with internet facility to students and aims at promoting computer learning among students.

                        This department enhances students aptitude and make them highly aware of latest development in the field of Computers . <br/><br/>


                        <ul class="para-history">

                            <h5 class="my-5">The highlights of programs undertaken by this department are</h1> <br/><br/>
                            <li>Computer fundamentals with MS Office</li>
                            <li>Different Programming languages</li>
                            <li>Designing of web page</li>
                            <li>Corel Draw</li>
                            <li>Flash</li>
                            <li>Multimedia Soft wares</li>
                            <li>Graphical Soft Wares</li> 

                        </ul>

                        </p></p>

                    <hr class="w-75 m-auto">


                    <h1 class="text-center mt-5 fs-1 display-1">Maths Lab</h1>

                    <hr class="w-25 m-auto">
                    
                    <p class="my-5 para-history">
                        <img src="../images/pexels-thisisengineering-3862132.jpg" alt="" class="img-fluid w-25 h-25">
                        <p class="d-block para-history">Maths lab embodies the spirit of investigation and teaches the child to scrutinize ardently, reflect on ideas rationally, think independently, productively and analyze intricately.

                            To facilitate and engage the students in a variety of hands on learning experiences the students and teachers have put together models and gadgets in the laboratory. There are a numbers of experiments with colorful paper cutouts & paper folding activities which help to clarify simple concepts of lines; points angles and triangles to well as complex theorems
                            
                            The geometer sketch pad and the handheld calculators are used to elucidate concepts from coordinate geometry to calculus to learn and comprehend quadratic equations; conic sections and trigonometric curves etc.
                            
                            </p></p>
                
    </div>


</section>
{{>footer}}




    

    <!-- java script  -->
    <script src="../js/index.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous">
    </script>
</body>

</html>