<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Manual Css  -->
    <link rel="stylesheet" href="../css/style.css">
    <title>Hello, world!</title>
</head>

<body>
    <!-- navbar starts here  -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <!-- logo  -->
            <a class="navbar-brand logo" href="../index.html">Sanskar Vidya Bhavan</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- logo ends here  -->
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <!-- nav tabs  -->
                <ul class="navbar-nav m-auto">
                    <li class="nav-item ">
                        <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About US</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Academics
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">School</a></li>
                            <li><a class="dropdown-item" href="#">About</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Beyond Academics
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Achievements
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Gallery</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Transfer Certi</a>
                    </li>
                </ul>
                <!-- nav tabs ends here  -->
                <!-- contact button with Modal  -->
                <button class="btn btn-info text-light me-2" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">Contact</button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Contact US</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <!-- contact form in modal body  -->
                                <form class="row g-3 needs-validation" novalidate>
                                    <div class="col-md-4">
                                        <label for="validationCustom01" class="form-label">First name</label>
                                        <input type="text" class="form-control" id="validationCustom01" value="Mark"
                                            required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="validationCustom02" class="form-label">Last name</label>
                                        <input type="text" class="form-control" id="validationCustom02" value="Otto"
                                            required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="validationCustomUsername" class="form-label">Username</label>
                                        <div class="input-group has-validation">
                                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                                            <input type="text" class="form-control" id="validationCustomUsername"
                                                aria-describedby="inputGroupPrepend" required>
                                            <div class="invalid-feedback">
                                                Please choose a username.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="validationCustom03" class="form-label">City</label>
                                        <input type="text" class="form-control" id="validationCustom03" required>
                                        <div class="invalid-feedback">
                                            Please provide a valid city.
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="validationCustom04" class="form-label">State</label>
                                        <select class="form-select" id="validationCustom04" required>
                                            <option selected disabled value="">Choose...</option>
                                            <option>...</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Please select a valid state.
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="validationCustom05" class="form-label">Zip</label>
                                        <input type="text" class="form-control" id="validationCustom05" required>
                                        <div class="invalid-feedback">
                                            Please provide a valid zip.
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck"
                                                required>
                                            <label class="form-check-label" for="invalidCheck">
                                                Agree to terms and conditions
                                            </label>
                                            <div class="invalid-feedback">
                                                You must agree before submitting.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary" type="submit">Submit form</button>
                                    </div>
                                </form>
                                <!-- contact forms ends here  -->
                            </div>
                            <div class="modal-footer">
                                <!-- button for closing  -->
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- contact buttons ends here  -->
            </div>
        </div>
    </nav>

    <!-- navbar ends here  -->

    <!-- history  -->
    <section class="history-sec">
      {{>sidenav}}
        <div class="img-div">
            <!-- img  -->
            <img src="../images/pexels-cottonbro-4842496.jpg" class="img-fluid img-history" alt="">
        </div>

        
        <!-- heading-->
        <h1 class="text-center fs-1 display-5 text-primary my-4">Year 2016-2017</h1>
        <hr class="hr-head-facts">
        <h1 class="text-info my-5  head-history text-lowercase">CLASS X -AT THE SUMMIT IN CBSE BOARD EXAMINATION</h1>
        
        <!-- paragraph  -->
        <p class="w-50 para-history">(Std-X) -2016 with 5 students securing perfect 10 CGPA <br><br><br>

            (1)RAHUL KARMAKAR<br>
            (2)NIHARIKA AGRAWAL<br>
            (3)ISHIKA SAIJWAL<br>
            (4)NIRVIKA SINGHANIA<br>
            (5)HARLEEN KAUR</p>
            
        <div class="img-gallery">
            <!-- first container  -->
            <div class="container">
                <div class="row">
                    <div class="col">
                        <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                            class="img-thumbnail img-annual-gallery">
                        </div>

                    <div class="col">
                        <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                            class="img-thumbnail img-annual-gallery">
                    </div>

                    <div class="col">
                        <img src="../images/pexels-thisisengineering-3861969.jpg" alt="image"
                            class="img-thumbnail img-annual-gallery">
                    </div>
                    
                </div>
                
                <!-- second container  -->
                <div class="container my-5">
                    <div class="row">
                        <div class="col">
                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                class="img-thumbnail img-annual-gallery">
                        </div>

                        <div class="col">
                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                class="img-thumbnail img-annual-gallery">
                        </div>

                        <div class="col">
                            <img src="../images/pexels-thisisengineering-3861969.jpg" alt="image"
                                class="img-thumbnail img-annual-gallery">
                        </div>

                    </div>

                    <!-- third container  -->
                    <div class="container my-5 me-5">
                        <div class="row">
                            <div class="col">
                                <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                    class="img-thumbnail img-annual-gallery h-100">
                            </div>

                            <div class="col">
                                <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                    class="img-thumbnail img-annual-gallery">
                            </div>

                            <div class="col">
                                <img src="../images/pexels-thisisengineering-3861969.jpg" alt="image"
                                    class="img-thumbnail img-annual-gallery">
                            </div>

                            <!-- fourth container  -->
                            <div class="container my-5 me-5">
                                <div class="row">
                                    <div class="col">
                                        <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                            class="img-thumbnail img-annual-gallery h-100">
                                    </div>

                                    <div class="col">
                                        <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                            class="img-thumbnail img-annual-gallery">
                                    </div>

                                    <div class="col">
                                        <img src="../images/pexels-thisisengineering-3861969.jpg" alt="image"
                                            class="img-thumbnail img-annual-gallery">
                                    </div>

                                </div>
                            </div>
                            <hr class="hr-facts-1 ">
                        </div>

                        <!-- section of rifle shooting  -->
                        <section class="rifle-section">
                            <h1 class="text-lowercase my-5 text-info">CLASS XII -DISTRICT TOPPER IN CBSE BOARD EXAMINATION
                            </h1>

                            <p class="">Saarthak modi 95.2%</p>

                            <div class="img-gallery-2">

                                <!-- First container  -->
                                <div class="container my-5 me-5">
                                    <div class="row">
                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery h-100">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3861969.jpg" alt="image"
                                                class="img-thumbnail img-annual-gallery">
                                        </div>
                                    </div>
                                <!-- First container  -->
                                <div class="container my-5 me-5">
                                    <div class="row">
                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery h-100">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3861969.jpg" alt="image"
                                                class="img-thumbnail img-annual-gallery">
                                        </div>
                                    </div>
                                <!-- First container  -->
                                <div class="container my-5 me-5">
                                    <div class="row">
                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery h-100">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3861969.jpg" alt="image"
                                                class="img-thumbnail img-annual-gallery">
                                        </div>
                                    </div>
                                <!-- First container  -->
                                <div class="container my-5 me-5">
                                    <div class="row">
                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery h-100">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3861969.jpg" alt="image"
                                                class="img-thumbnail img-annual-gallery">
                                        </div>
                                    </div>
                        </section>
                        <hr class="hr-facts-1">

                        <!-- section of rifle shooting 2 no.  -->
                        <section class="rifle-section">
                            <h1 class="text-lowercase my-5 text-info">OUTSTANDING PERFORMANCE OF OUR ATHLETES IN CBSE CLUSTER ATHLETIC MEET</h1>

                            <p class="">Young Athletes have brought laurels for us by bagging 23 medals in various categories in the esteemed CBSE Cluster Athletic Meet . Six Athletes from our school are chosen to represent the Cluster in CBSE National Athletic Meet.</p>

                            <div class="img-gallery-2">

                                <!-- fourth container  -->
                                <div class="container my-5 me-5">
                                    <div class="row">
                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery h-100">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3861969.jpg" alt="image"
                                                class="img-thumbnail img-annual-gallery">
                                        </div>
                                    </div>
                        </section>
                        <hr class="hr-facts-1">

                        <!-- section of kho-kho tournament  -->
                        <section class="rifle-section">
                            <h1 class="text-lowercase my-5 text-info">EXHIBITING EXCELLENCE IN CBSE REGIONAL LEVEL SCIENCE EXHIBITION
                            </h1>

                            <p class="">CBSE Regional Level Science Exhibition showcased various projects and exhibits of Ajmer region. Two exhibits from our school participated in it <br><br>
                                1.Combat Drought by Darshi Shah and Bhoomika Gothwal and<br>
                                2.Transport Revolution by Jeet Shah and Harsh Dalal<br>
                                Both the exhibits were adjudged the best in their category and qualified for National level participation to be held in Delhi in 2017 <br></p>

                            <div class="img-gallery-2">

                                <!-- First container  -->
                                <div class="container my-5 me-5">
                                    <div class="row">
                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery h-100">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3861969.jpg" alt="image"
                                                class="img-thumbnail img-annual-gallery">
                                        </div>

                                        <!-- Second container  -->
                                        <div class="container my-5 me-5">
                                            <div class="row">
                                                <div class="col">
                                                    <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                        class="img-thumbnail img-annual-gallery h-100">
                                                </div>

                                                <div class="col">
                                                    <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                        class="img-thumbnail img-annual-gallery">
                                                </div>

                                                <div class="col">
                                                    <img src="../images/pexels-thisisengineering-3861969.jpg"
                                                        alt="image" class="img-thumbnail img-annual-gallery">
                                                </div>
                                            </div>
                        </section>
                        <hr class="hr-facts-1">


                        <hr class="hr-facts-1">


                           <a href="/about/2018"><button type="button" class="btn btn-outline-info text-danger my-5 mx-3">2018-19</button></a>

                
                    <a href="/about/2017"><button type="button" class="btn btn-outline-info text-danger my-5 mx-3">2017-18</button></a>

                
                    <a href="/about/2016"><button type="button" class="btn btn-outline-info text-danger my-5 mx-3">2016-17</button></a>

                
                    <a href="/about/2015"><button type="button" class="btn btn-outline-info text-danger my-5 mx-3">2015-16</button></a>

    </section>

    {{>footer}}

    <!-- java script  -->
    <script src="../js/index.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous">
    </script>
</body>

</html>