<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Manual Css  -->
    <link rel="stylesheet" href="../css/style.css">
    <title>Hello, world!</title>
</head>

<body>
    {{>nav}}
    <!-- history  -->
    <section class="history-sec">
        {{sidenav}}
        <div class="img-div">
            <!-- img  -->
            <img src="../images/pexels-cottonbro-4842496.jpg" class="img-fluid img-history" alt="">
        </div>

        
        <!-- heading-->
        <h1 class="text-center fs-1 display-5 text-primary my-4">Year 2017-18</h1>
        <hr class="hr-head-facts">
        <h1 class="text-info my-5  head-history text-lowercase">SMCP SANSKAR VIDYA BHAVAN ENTHUSIASTICALLY ATTENDS PARIKSHA PAR CHARCHA BY PRIME MINISTER MR.NARENDRA MODI</h1>
        
        <!-- paragraph  -->
        <p class="w-50 para-history">Prime Minister Mr. Narendra Modi’s interactive session titled “Pariksha Par Charcha” was aired in all the schools in 16th February 2018.The students from STD VI TO STD XII and teachers along with the Principal listened to the speech and became a part of the historic event when ten crores students, teachers and parents listened to him enthusiastically. The prime minister's friendly demeanour, interesting anecdotes and his unique way of presenting serious messages coated with earthy humour ensured that the interaction stayed lively throughout the session. <br> <br>

His counsel to students was to focus on learning. Keep the student in one self alive forever. Pursue knowledge. Exams, results and marks — these are all by-products of that pursuit. If one works purely for marks, his true potential will never be fulfilled. <br> <br>

He stressed on the importance of de-focussing in order to focus and the need for children to take a break. He spoke of yoga and sports as means of de-stressing and relaxing. <br> <br>

This interaction with the students of the country was a remarkable exercise that would pave the way for creating a dialogue about making examinations stress-free and in the long run, inspire the makers of New India to discover their strengths and be the best that they can be.  <br></p>
            
        <div class="img-gallery">
            <!-- first container  -->
            <div class="container">
                <div class="row">
                    <div class="col">
                        <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                            class="img-thumbnail img-annual-gallery">
                        </div>

                    <div class="col">
                        <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                            class="img-thumbnail img-annual-gallery">
                    </div>

                    <div class="col">
                        <img src="../images/pexels-thisisengineering-3861969.jpg" alt="image"
                            class="img-thumbnail img-annual-gallery">
                    </div>
                    
                </div>
                
                <!-- second container  -->
                <div class="container my-5">
                    <div class="row">
                        <div class="col">
                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                class="img-thumbnail img-annual-gallery">
                        </div>

                        <div class="col">
                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                class="img-thumbnail img-annual-gallery">
                        </div>

                        <div class="col">
                            <img src="../images/pexels-thisisengineering-3861969.jpg" alt="image"
                                class="img-thumbnail img-annual-gallery">
                        </div>

                    </div>

                    <!-- third container  -->
                    <div class="container my-5 me-5">
                        <div class="row">
                            <div class="col">
                                <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                    class="img-thumbnail img-annual-gallery h-100">
                            </div>

                            <div class="col">
                                <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                    class="img-thumbnail img-annual-gallery">
                            </div>

                            <div class="col">
                                <img src="../images/pexels-thisisengineering-3861969.jpg" alt="image"
                                    class="img-thumbnail img-annual-gallery">
                            </div>

                            <!-- fourth container  -->
                            <div class="container my-5 me-5">
                                <div class="row">
                                    <div class="col">
                                        <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                            class="img-thumbnail img-annual-gallery h-100">
                                    </div>

                                    <div class="col">
                                        <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                            class="img-thumbnail img-annual-gallery">
                                    </div>

                                    <div class="col">
                                        <img src="../images/pexels-thisisengineering-3861969.jpg" alt="image"
                                            class="img-thumbnail img-annual-gallery">
                                    </div>

                                </div>
                            </div>
                            <hr class="hr-facts-1 ">
                        </div>

                        <!-- section of rifle shooting  -->
                        <section class="rifle-section">
                            <h1 class="text-lowercase my-5 text-info">EXEMPLARY PERFORMANCE IN KHEL MAHAKUMBH -TESTIMONY OF OUR SPORTS EXCELLENCE</h1>

                            <p class="">Sports person from our school displayed superlative performance in different activities organised during KHEL Mahakumbh this year. Our school was at the pinnacle in Taluka and stood third in the District. The Sports Authority of Gujarat recognised the Sports Potential of our school and awarded us the cash prize of Rupees 1 lakh for the second consecutive year.</p>

                            <div class="img-gallery-2">

                                <!-- First container  -->
                                <div class="container my-5 me-5">
                                    <div class="row">
                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery h-100">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3861969.jpg" alt="image"
                                                class="img-thumbnail img-annual-gallery">
                                        </div>
                                    </div>
                        </section>
                        <hr class="hr-facts-1">

                        <!-- section of rifle shooting 2 no.  -->
                        <section class="rifle-section">
                            <h1 class="text-lowercase my-5 text-info">PARTICIPATION IN CBSE NATIONAL LEVEL SCIENCE EXHIBITION 2018</h1>

                            <p class="">Students of our schools once again showcased their extra ordinary scientific temperament in National Level SCIENCE EXHIBITION organised by CBSE. The exhibit prepared by Aniket Gupta and Varuni Joshi was among the best exhibits at Regional Level which stormed its way to National Level participation. The exhibit from our school was one among 890 top exhibits from all the corners of the country which were displayed in CBSE NATIONAL LEVEL SCIENCE at Mount Abu School New Delhi.
                                
                                

                            <div class="img-gallery-2">

                                <!-- fourth container  -->
                                <div class="container my-5 me-5">
                                    <div class="row">
                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery h-100">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3861969.jpg" alt="image"
                                                class="img-thumbnail img-annual-gallery">
                                        </div>
                                    </div>
                        </section>
                        <hr class="hr-facts-1">

                        <!-- section of kho-kho tournament  -->
                        <section class="rifle-section">
                            <h1 class="text-lowercase my-5 text-info">CBSE CLUSTER LEVEL KHO KHO TOURNAMENT</h1>

                            <p class="">Both Boys and Girls Kho Kho Teams brought laurels by bagging the first position at Cluster Level and getting selected for the National level participation. Zeel Chavda was adjudged The Best Player in the Girls category and Pranay Parmar was chosen as the Best Player in the Boys category</p>

                            <div class="img-gallery-2">

                                <!-- First container  -->
                                <div class="container my-5 me-5">
                                    <div class="row">
                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery h-100">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3861969.jpg" alt="image"
                                                class="img-thumbnail img-annual-gallery">
                                        </div>

                                        <!-- Second container  -->
                                        <div class="container my-5 me-5">
                                            <div class="row">
                                                <div class="col">
                                                    <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                        class="img-thumbnail img-annual-gallery h-100">
                                                </div>

                                                <div class="col">
                                                    <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                        class="img-thumbnail img-annual-gallery">
                                                </div>

                                                <div class="col">
                                                    <img src="../images/pexels-thisisengineering-3861969.jpg"
                                                        alt="image" class="img-thumbnail img-annual-gallery">
                                                </div>
                                            </div>
                        </section>
                        <hr class="hr-facts-1">


                        <hr class="hr-facts-1">


                    <a href="/about/2018"><button type="button" class="btn btn-outline-info text-danger my-5 mx-3">2018-19</button></a>

                
                    <a href="/about/2017"><button type="button" class="btn btn-outline-info text-danger my-5 mx-3">2017-18</button></a>

                
                    <a href="/about/2016"><button type="button" class="btn btn-outline-info text-danger my-5 mx-3">2016-17</button></a>

                
                    <a href="/about/2015"><button type="button" class="btn btn-outline-info text-danger my-5 mx-3">2015-16</button></a>


    </section>

    {{>footer}}
    <!-- java script  -->
    <script src="../js/index.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous">
    </script>
</body>

</html>