<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Manual Css  -->
    <link rel="stylesheet" href="../css/style.css">
    <title>Hello, world!</title>
</head>

<body>
{{>nav}}
    <!-- history  -->
    <section class="history-sec">
      {{>sidenav}}
        <div class="img-div">
            <!-- img  -->
            <img src="../images/pexels-cottonbro-4842496.jpg" class="img-fluid img-history" alt="">
        </div>

        
        <!-- heading-->
        <h1 class="text-center fs-1 display-5 text-primary my-4">Year 2018-2019</h1>
        <hr class="hr-head-facts">
        <h1 class="text-info my-5  head-history text-lowercase">SMCP SANSKAR VIDYA BHAVAN SECURES 1ST POSITION IN CBSE REGIONAL LEVEL KHO KHO TOURNAMENT</h1>
        
        <!-- paragraph  -->
        <p class="w-50 para-history">Girls Kho Kho Team U- 17 and Boys Kho Kho Team U-17 competed with 35 teams from all over Gujarat, Diu and Dadar Nagar Haveli and stood 1st in the CBSE West Zone Kho Kho Tournament and qualified for the Nationals.
            Shrusti Patel and Pranay Parmar were adjudged as the best players in U-17 Girls and Boys Teams respectively.</p>
            
        <div class="img-gallery">
            <!-- first container  -->
            <div class="container">
                <div class="row">
                    <div class="col">
                        <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                            class="img-thumbnail img-annual-gallery">
                        </div>

                    <div class="col">
                        <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                            class="img-thumbnail img-annual-gallery">
                    </div>

                    <div class="col">
                        <img src="../images/pexels-thisisengineering-3861969.jpg" alt="image"
                            class="img-thumbnail img-annual-gallery">
                    </div>
                    
                </div>
                
                <!-- second container  -->
                <div class="container my-5">
                    <div class="row">
                        <div class="col">
                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                class="img-thumbnail img-annual-gallery">
                        </div>

                        <div class="col">
                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                class="img-thumbnail img-annual-gallery">
                        </div>

                        <div class="col">
                            <img src="../images/pexels-thisisengineering-3861969.jpg" alt="image"
                                class="img-thumbnail img-annual-gallery">
                        </div>

                    </div>

                    <!-- third container  -->
                    <div class="container my-5 me-5">
                        <div class="row">
                            <div class="col">
                                <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                    class="img-thumbnail img-annual-gallery h-100">
                            </div>

                            <div class="col">
                                <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                    class="img-thumbnail img-annual-gallery">
                            </div>

                            <div class="col">
                                <img src="../images/pexels-thisisengineering-3861969.jpg" alt="image"
                                    class="img-thumbnail img-annual-gallery">
                            </div>

                            <!-- fourth container  -->
                            <div class="container my-5 me-5">
                                <div class="row">
                                    <div class="col">
                                        <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                            class="img-thumbnail img-annual-gallery h-100">
                                    </div>

                                    <div class="col">
                                        <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                            class="img-thumbnail img-annual-gallery">
                                    </div>

                                    <div class="col">
                                        <img src="../images/pexels-thisisengineering-3861969.jpg" alt="image"
                                            class="img-thumbnail img-annual-gallery">
                                    </div>

                                </div>
                            </div>
                            <hr class="hr-facts-1 ">
                        </div>

                        <!-- section of rifle shooting  -->
                        <section class="rifle-section">
                            <h1 class="text-lowercase my-5 text-info">INAUGURATION CEREMONY OF SANSKAR BHARTI TRUST SPORTS ACADEMY</h1>

                            <p class="">The Sanskar Bharti Trust Sports Academy was inaugurated on 5th September 2018 amidst great mirth, verve and camaraderie. Shri Dushyant Patel graced the Inaugural Ceremony as the Chief Guest and Mr. Silvester Dsouja Asst. Income Tax Commissioner inspired one and all with his esteemed presence as the Guest of Honor.
                                The Academy was formally inaugurated by the Chief Guest by kicking the ball in benign presence of Shri Pushpa Ben Patel. Mr. Upendra Rungta, Mrs. Nikki H Mehta, Honourable members of Sanskar Bharti Trust and other dignitaries.
                                The most intriguing aspect, embellishing the event, was the splendid field displays of Kho Kho, Kabaddi, Malkhamb, Volleyball, Football and Cricket. Chief Guest praised the endeavours of the Sanskar Bharti Trust to introduce the premiere Sports Academy in Bharuch which would cater all Sports related requirements of Sportsperson . Guest of Honour Mr. Sylvester Dsouja highlighted the necessity of sportsmanship in the world and intimated the august gathering about the rationale behind Sports.
                                The celebration culminated with spark of excitement among one and all who are passionate about Sports.</p>

                            <div class="img-gallery-2">

                                <!-- First container  -->
                                <div class="container my-5 me-5">
                                    <div class="row">
                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery h-100">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3861969.jpg" alt="image"
                                                class="img-thumbnail img-annual-gallery">
                                        </div>
                                    </div>
                                <!-- First container  -->
                                <div class="container my-5 me-5">
                                    <div class="row">
                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery h-100">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3861969.jpg" alt="image"
                                                class="img-thumbnail img-annual-gallery">
                                        </div>
                                    </div>
                                <!-- First container  -->
                                <div class="container my-5 me-5">
                                    <div class="row">
                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery h-100">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3861969.jpg" alt="image"
                                                class="img-thumbnail img-annual-gallery">
                                        </div>
                                    </div>
                                <!-- First container  -->
                                <div class="container my-5 me-5">
                                    <div class="row">
                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery h-100">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3861969.jpg" alt="image"
                                                class="img-thumbnail img-annual-gallery">
                                        </div>
                                    </div>
                        </section>
                        <hr class="hr-facts-1">

                        <!-- section of rifle shooting 2 no.  -->
                        <section class="rifle-section">
                            <h1 class="text-lowercase my-5 text-info">FANCY DRESS COMPETITION BY 'IN BHARUCH' CHANNEL</h1>

                            <p class="">An individual can die for an idea but that idea will after his death incarnate itself in thousand lives.
                                In an attempt to pay tribute to great freedom fighters, IN Bharuch Channel organised a Fancy Dress Competition for students of Std I to VI on 8th August 2018. The Theme of the competition was 'Freedom Fighters of India '.
                                The students gracefully participated in the competition with great zeal and vigour. Dressed up as the freedom fighters the students lived up an important phase of the life of their character and paid homage to famous personalities who freed our nation from clutches of oppressive British rule. <br>
                                <br><br><br><br>
                                Winners Are:<br><br>
                                
                                • CLASS I to III<br><br>
                                
                                Yash Trivedi (Rajguru) -1st<br>
                                Daksh Parmar(Dr.Bhimrao Ambedkar) -2nd<br>
                                Ananya Chourasia (Jijabai) -3rd<br><br>
                                • CLASS IV TO VI<br><br>
                                
                                Dhairaj Pawar (Bhagat Singh) -1st<br>
                                Aesha Trivedi (Begam Hazarat Mahal) -2nd<br>
                                Simran Duggal(Sarojini Naidu)-3rd<br></p>

                            <div class="img-gallery-2">

                                <!-- fourth container  -->
                                <div class="container my-5 me-5">
                                    <div class="row">
                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery h-100">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3861969.jpg" alt="image"
                                                class="img-thumbnail img-annual-gallery">
                                        </div>
                                    </div>
                        </section>
                        <hr class="hr-facts-1">

                        <!-- section of kho-kho tournament  -->
                        <section class="rifle-section">
                            <h1 class="text-lowercase my-5 text-info">NATIONAL TALENT SEARCH EXAMINATION BY JCI</h1>

                            <p class="">Junior Chamber International (JCI) conducted NTSE for students of IX to XII on 13th August. NTSE helps the students to know where they stand, pinpoint the areas of strengths and weaknesses and improves the students' ability to understand the underlying concepts. It provides a competitive edge to the students and encourages them to take part in competitive exams in future. All the students were motivated by participation Certificates and Pens by JCI.</p>

                            <div class="img-gallery-2">

                                <!-- First container  -->
                                <div class="container my-5 me-5">
                                    <div class="row">
                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery h-100">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3861969.jpg" alt="image"
                                                class="img-thumbnail img-annual-gallery">
                                        </div>

                                        <!-- Second container  -->
                                        <div class="container my-5 me-5">
                                            <div class="row">
                                                <div class="col">
                                                    <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                        class="img-thumbnail img-annual-gallery h-100">
                                                </div>

                                                <div class="col">
                                                    <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                        class="img-thumbnail img-annual-gallery">
                                                </div>

                                                <div class="col">
                                                    <img src="../images/pexels-thisisengineering-3861969.jpg"
                                                        alt="image" class="img-thumbnail img-annual-gallery">
                                                </div>
                                            </div>
                        </section>
                        <hr class="hr-facts-1">


                        <hr class="hr-facts-1">
                    <a href="/about/2018"><button type="button" class="btn btn-outline-info text-danger my-5 mx-3">2018-19</button></a>

                
                    <a href="/about/2017"><button type="button" class="btn btn-outline-info text-danger my-5 mx-3">2017-18</button></a>

                
                    <a href="/about/2016"><button type="button" class="btn btn-outline-info text-danger my-5 mx-3">2016-17</button></a>

                
                    <a href="/about/2015"><button type="button" class="btn btn-outline-info text-danger my-5 mx-3">2015-16</button></a>


    </section>
    {{>footer}}
    <!-- java script  --> 
    <script src="../js/index.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous">
    </script>
</body>

</html>