<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Manual Css  -->
    <link rel="stylesheet" href="css/style.css">
    <title>Hello, world!</title>
  </head>
  <body>
      {{>nav}}

        <!-- history  -->
        <section class="history-sec">
          {{>sidenav}}
                <!-- img  -->
                <img src="../images/pexels-cottonbro-4842496.jpg" class="img-fluid img-history" alt="">

            </div>
        <!-- heading-->
            <h1 class="text-primary my-5 head-history">History Of Our School</h1>

            <!-- paragraph  -->
            <p class="w-50 para-history">Smt Maniba Chunilal Patel Sanskar Vidya Bhavan is one of the most prestigious schools in Bharuch. It was founded in 1996 in Bharuch. it is run by Sanskar Bharti Trust.

                Smt Maniba Chunilal Patel Sanskar Vidya Bhavan is affiliated to the Central Board of Secondary Education (CBSE), which is the largest educational board in the country. It is recognized by the Department of Education, Govt. of NCRT Delhi and the Ministry of HRD, Govt. of India.
                
                Excellence is the main aim of our school. Our school builds every student strong and able to accomplish precision. The school provides best possible environment to its students so that each student is able to realize his aspiration to the utmost of his or her attributes.
                
                We started as Sanskar Vidya Bhavan with 16 student in year 1996. Our journy was many commendable achivement within the span of number of years and has crossed the lankmark of 1000 students. In year 2012 our school was remaned "Smt. Maniba Chunilal Patel Sanskar Vidya Bhavan" after the parents of our revered Managing Trustee Shri Pushpaben Patel in a formal Naamkaran Ceremony Which was inaugurated by by esteemed socialite Smt. Ilaben Batt</p>
        </section>

        <!-- footer  -->
{{>footer}}

<!-- java script  -->
<script src="../js/index.js"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</body>
</html>