<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Manual Css  -->
    <link rel="stylesheet" href="../css/style.css">
    <title>Hello, world!</title>
</head>

<body>
{{>nav}}

    <!-- history  -->
    <section class="history-sec">
        <!-- side nav  -->
        <div class="side-nav">
            <div class="list-group w-100  ms-5">
                <!-- side nav tabs  -->
                <a href="/about" class="list-group-item list-group-item-action active" aria-current="true">
                    History
                </a>
                <a href="profile.html" class="list-group-item list-group-item-action">School Profile</a>
                <a href="/about/mission" class="list-group-item list-group-item-action">School Mission</a>
                <a href="/about/vision" class="list-group-item list-group-item-action">School Vision</a>
                <a href="#" class="list-group-item list-group-item-action">Facts & Figures</a>
                <a href="#" class="list-group-item list-group-item-action">Memeber Trust </a>
                <a href="#" class="list-group-item list-group-item-action">Governing Body </a>
                <a href="#" class="list-group-item list-group-item-action">Faculty Members</a>
                <a href="#" class="list-group-item list-group-item-action">Commitee</a>
                <a href="#" class="list-group-item list-group-item-action">Annual Report</a>
                <a href="#" class="list-group-item list-group-item-action">Calendar</a>
                <a href="#" class="list-group-item list-group-item-action">Oasis</a>
                <a href="#" class="list-group-item list-group-item-action">Text Books</a>

            </div>
        </div>

        <div class="img-div">
            <!-- img  -->
            <img src="../images/pexels-cottonbro-4842496.jpg" class="img-fluid img-history" alt="">
        </div>

        
        <!-- heading-->
        <h1 class="text-center fs-1 display-5 text-primary my-4">Year 2019-2020</h1>
        <hr class="hr-head-facts">
        <h1 class="text-info my-5  head-history">Annual Sports Week</h1>
        
        <!-- paragraph  -->
        <p class="w-50 para-history">Smt MCP Sanskar Vidya Bhavan held its Annual Sports Week from 4th January 2020 to
            7th January 2020. The aim behind holding the event was to inculcate the spirit of sportsmanship and fondness
            for sports in children. The event was a fun filled fest of energy and delight.

            Mrs. Sharmila Das the Principal Smt.MCP Sanskar Vidya Bhavan, Mrs. Falguni Naik the Principal J B Mody
            Vidyalaya and Mrs.Jasmin Modi Incharge Radha Bal Vatika graced the event and motivated the students.

            The inaugration of the event began with the spectacular torch – bearing ceremony conducted by the young
            sports achievers of our school. The Sports Flame was lit by Mrs. Jasmin Modi and the sports week was
            formally declared open by her.
            
            Yogic asanas demonstrated by the students lent a serene aura to the event.

            The first event of the Sports Week was Fancy Races for Students of Std I to Std V followed by Athletic
            events for Std VI and VII. Once the event began, the air was filled with cheering and tons of encouragement
            .

            The second day of the Sports Week began amidst great verve. The Track and Field events for Std VIII and IX
            saw enthusiastic participation.

            The most awaited day of the Sports Week was its last day in which Inter School Team Sports were organised
            between Smt.MCP Sanskar Vidya Bhavan and JB Modi Vidyalaya. Volleyball, Kho- Kho and Kabaddi were for both
            Boys and Girls categories and Football was played under Boys' Category.

            Smt.MCP Sanskar Vidya Bhavan won 5 out of 7 games and lifted the coveted Championship Trophy. All the
            winners were felicitated on the victory stand with certificates.</p>
            
        <div class="img-gallery">
            <!-- first container  -->
            <div class="container">
                <div class="row">
                    <div class="col">
                        <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                            class="img-thumbnail img-annual-gallery">
                        </div>

                    <div class="col">
                        <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                            class="img-thumbnail img-annual-gallery">
                    </div>

                    <div class="col">
                        <img src="../images/pexels-thisisengineering-3861969.jpg" alt="image"
                            class="img-thumbnail img-annual-gallery">
                    </div>
                    
                </div>
                
                <!-- second container  -->
                <div class="container my-5">
                    <div class="row">
                        <div class="col">
                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                class="img-thumbnail img-annual-gallery">
                        </div>

                        <div class="col">
                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                class="img-thumbnail img-annual-gallery">
                        </div>

                        <div class="col">
                            <img src="../images/pexels-thisisengineering-3861969.jpg" alt="image"
                                class="img-thumbnail img-annual-gallery">
                        </div>

                    </div>

                    <!-- third container  -->
                    <div class="container my-5 me-5">
                        <div class="row">
                            <div class="col">
                                <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                    class="img-thumbnail img-annual-gallery h-100">
                            </div>

                            <div class="col">
                                <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                    class="img-thumbnail img-annual-gallery">
                            </div>

                            <div class="col">
                                <img src="../images/pexels-thisisengineering-3861969.jpg" alt="image"
                                    class="img-thumbnail img-annual-gallery">
                            </div>

                            <!-- fourth container  -->
                            <div class="container my-5 me-5">
                                <div class="row">
                                    <div class="col">
                                        <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                            class="img-thumbnail img-annual-gallery h-100">
                                    </div>

                                    <div class="col">
                                        <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                            class="img-thumbnail img-annual-gallery">
                                    </div>

                                    <div class="col">
                                        <img src="../images/pexels-thisisengineering-3861969.jpg" alt="image"
                                            class="img-thumbnail img-annual-gallery">
                                    </div>

                                </div>
                            </div>
                            <hr class="hr-facts-1 ">
                        </div>

                        <!-- section of rifle shooting  -->
                        <section class="rifle-section">
                            <h1 class="text-lowercase my-5 text-info">GLORIOUS ACHIEVEMENT IN NATIONAL LEVEL RIFLE
                                SHOOTING CHAMPIONSHIP</h1>

                            <p class="">Sujal Shah of Std VII is an ace shooter with numerous laurels at State and
                                Regional Levels to his credit. He added a feather to his cap by securing 2nd Position
                                and winning a Silver Medal in the 65th National Rifle Shooting School Games - 2019 at
                                National Level held in Bhopal.</p>

                            <div class="img-gallery-2">

                                <!-- fourth container  -->
                                <div class="container my-5 me-5">
                                    <div class="row">
                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery h-100">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3861969.jpg" alt="image"
                                                class="img-thumbnail img-annual-gallery">
                                        </div>
                                    </div>
                        </section>
                        <hr class="hr-facts-1">

                        <!-- section of rifle shooting 2 no.  -->
                        <section class="rifle-section">
                            <h1 class="text-lowercase my-5 text-info">PRE NATIONAL SCHOOL GAMES RIFLE SHOOTING
                                CHAMPIONSHIP</h1>

                            <p class="">Sujal Shah of Std VII secured 3rd position in 10m air rifle peep shigt rifle
                                under - 14 event KMK 2019 and qualified for 65th National School Games at Bhopal during
                                4th November to 8th November 2019.

                                [10/23, 19:50] Sharmilamam: CBSE West Zone Rifle Shooting Championship

                                Sujal Shah of Std VII secured 4th position in 10m air rifle Peep sights under-14 event
                                held at kota S.R.Public Sc. Sec. School during 1st to 4th October 2019 and qualified for
                                the National Level Shooting Championship.</p>

                            <div class="img-gallery-2">

                                <!-- fourth container  -->
                                <div class="container my-5 me-5">
                                    <div class="row">
                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery h-100">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3861969.jpg" alt="image"
                                                class="img-thumbnail img-annual-gallery">
                                        </div>
                                    </div>
                        </section>
                        <hr class="hr-facts-1">

                        <!-- section of kho-kho tournament  -->
                        <section class="rifle-section">
                            <h1 class="text-lowercase my-5 text-info">CBSE REGIONAL LEVEL KHO KHO CHAMPIONSHIP</h1>

                            <p class="">Under 17 Boys Kho -kho team of SMCP Sanskar Vidya Bhavan has surpassed all the
                                other teams of the Cluster XIII West Zone Region (Gujarat, Rajasthan, MP, Daman and Diu)
                                and bagged 1st position.

                                The 'Best Player Award' for the Tournament was bagged by Pranay Parmar for the third
                                consecutive year. Our Kho -Kho team has qualified for National Level to be played in
                                Haryana from 9th November to 15th November 2019</p>

                            <div class="img-gallery-2">

                                <!-- First container  -->
                                <div class="container my-5 me-5">
                                    <div class="row">
                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery h-100">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3861969.jpg" alt="image"
                                                class="img-thumbnail img-annual-gallery">
                                        </div>

                                        <!-- Second container  -->
                                        <div class="container my-5 me-5">
                                            <div class="row">
                                                <div class="col">
                                                    <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                        class="img-thumbnail img-annual-gallery h-100">
                                                </div>

                                                <div class="col">
                                                    <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                        class="img-thumbnail img-annual-gallery">
                                                </div>

                                                <div class="col">
                                                    <img src="../images/pexels-thisisengineering-3861969.jpg"
                                                        alt="image" class="img-thumbnail img-annual-gallery">
                                                </div>
                                            </div>
                        </section>
                        <hr class="hr-facts-1">


                        <!-- section of Human Chain  -->
                        <section class="rifle-section">
                            <h1 class="text-lowercase my-5 text-info">HUMAN CHAIN ON 'SAY NO TO SINGLE USE PLASTIC' BY
                                INTERACT CLUB</h1>

                            <p class="">

                                Interact Club of SMCP Sanskar Vidya Bhavan along with the members of Rotary Club of
                                Bharuch Narmadanagri, made Human Chain by joining hands and holding Posters and Slogans
                                to promote 'Say No to Single use Plastic' on 2nd October, the 150th Birth Anniversary of
                                Mahatma Gandhi. The Human Chain extended from Tulsidham to Jyotinagar. This was a step
                                to spread awareness among the people to achieve the vision of 'Plastic free India'.</p>

                            <div class="img-gallery-2">

                                <!-- First container  -->
                                <div class="container my-5 me-5">
                                    <div class="row">
                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery h-100">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3861969.jpg" alt="image"
                                                class="img-thumbnail img-annual-gallery">
                                        </div>

                                        <!-- Second container  -->
                                        <div class="container my-5 me-5">
                                            <div class="row">
                                                <div class="col">
                                                    <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                        class="img-thumbnail img-annual-gallery h-100">
                                                </div>

                                                <div class="col">
                                                    <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                        class="img-thumbnail img-annual-gallery">
                                                </div>

                                                <div class="col">
                                                    <img src="../images/pexels-thisisengineering-3861969.jpg"
                                                        alt="image" class="img-thumbnail img-annual-gallery">
                                                </div>
                                            </div>
                        </section>
                        <hr class="hr-facts-1">

                        <!-- section of Human Chain  -->
                        <section class="rifle-section">
                            <h1 class="text-lowercase my-5 text-info">HANDMADE PAPER BAGS DISTRIBUTION AT THE RAILWAY
                                STATION BY INTERACT CLUB</h1>

                            <p class="">
                                To discourage the use of plastic bags , the members of Interact Club of SMCP Sanskar
                                Vidya Bhavan replaced the Polythene Bags of the passengers at railway station with the
                                paper bags prepared by the students. This campaign was held on 2nd October2019 to pay a
                                tribute to Mahatma Gandhi on his 150th Birthday.</p>

                            <div class="img-gallery-2">

                                <!-- First container  -->
                                <div class="container my-5 me-5">
                                    <div class="row">
                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery h-100">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3861969.jpg" alt="image"
                                                class="img-thumbnail img-annual-gallery">
                                        </div>

                                        <!-- Second container  -->
                                        <div class="container my-5 me-5">
                                            <div class="row">
                                                <div class="col">
                                                    <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                        class="img-thumbnail img-annual-gallery h-100">
                                                </div>

                                                <div class="col">
                                                    <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                        class="img-thumbnail img-annual-gallery">
                                                </div>

                                                <div class="col">
                                                    <img src="../images/pexels-thisisengineering-3861969.jpg"
                                                        alt="image" class="img-thumbnail img-annual-gallery">
                                                </div>
                                            </div>
                        </section>
                        <hr class="hr-facts-1">

                        <!-- section of glass painting -->
                        <section class="rifle-section">
                            <h1 class="text-lowercase my-5 text-info">GLASS PAINTING AT THE RAILWAY STATION BY INTERACT
                                CLUB
                            </h1>

                            <p class="">

                                On 2nd October 2019, during the auspicious occasion of 150th Birth Anniversary of the
                                Father of the Nation, Mahatma Gandhi, the Interact Club members of SMCP Sanskar Vidya
                                Bhavan, did Glass Paintings on the Entry and Exit gates of the Railway Station. This was
                                to sensitize people about the consequences of using Plastic and to motivate them to keep
                                their surroundings clean.</p>

                            <div class="img-gallery-2">

                                <!-- First container  -->
                                <div class="container my-5 me-5">
                                    <div class="row">
                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery h-100">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3861969.jpg" alt="image"
                                                class="img-thumbnail img-annual-gallery">
                                        </div>

                                        <!-- Second container  -->
                                        <div class="container my-5 me-5">
                                            <div class="row">
                                                <div class="col">
                                                    <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                        class="img-thumbnail img-annual-gallery h-100">
                                                </div>

                                                <div class="col">
                                                    <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                        class="img-thumbnail img-annual-gallery">
                                                </div>

                                                <div class="col">
                                                    <img src="../images/pexels-thisisengineering-3861969.jpg"
                                                        alt="image" class="img-thumbnail img-annual-gallery">
                                                </div>
                                            </div>
                        </section>
                        <hr class="hr-facts-1">
                        <!-- section of Human Chain  -->
                        <section class="rifle-section">
                            <h1 class="text-lowercase my-5 text-info">THE FELICITATION CEREMONY</h1>

                            <p class="">
                                Smt. Maniba Chunnilal Patel Sanskar Vidya Bhavan organised the Felicitation Ceremony on
                                29th April 2019 to honour its student Master Dhanesh Haresh Khatwani who is popularly
                                known as the Calendar Boy. The Function was a continuation of the school tradition which
                                believes in recognizing the efforts of the assiduous students with their multifarious
                                endeavours, aspirations and triumphs.
                                The esteemed guests for the occasion were Shri Pushpaben Patel The Managing Trustee
                                Sanskar Bharti Trust , Mrs. Nikki H Mehta The Administrator Smt. Maniba Chunnilal Patel
                                Sanskar Vidya Bhavan, Master Dhanesh Khatwani , Mrs and Mr Haresh Khatwani the proud
                                parents of the wonder boy .
                                In her welcome address, the school Principal Mrs. Sharmila Das emphasised the school's
                                role in motivating and providing a congenial atmosphere to Master Dhanesh which has led
                                him to the path of stunning victories. She applauded Dhanesh on his success and evoked
                                the nostalgic memories linked to his early childhood. Shri Pushpaben Patel the Managing
                                Trustee of Sanskar Bharti Trust felicitated Master Dhanesh with the Citation and also
                                presented him the idol of Goddess Saraswati as the token of best wishes and blessings.
                                The school acknowledged the noteworthy role of the parents Mrs and Mr Haresh Khatwani
                                with memento.
                                The ceremony was well punctuated with elegant dance performances by Dhanesh’s class
                                mates and a melodious motivational song by his teachers. The ceremony ended with the
                                National Anthem.</p>

                            <div class="img-gallery-2">

                                <!-- First container  -->
                                <div class="container my-5 me-5">
                                    <div class="row">
                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery h-100">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                class="img-thumbnail img-annual-gallery">
                                        </div>

                                        <div class="col">
                                            <img src="../images/pexels-thisisengineering-3861969.jpg" alt="image"
                                                class="img-thumbnail img-annual-gallery">
                                        </div>

                                        <!-- Second container  -->
                                        <div class="container my-5 me-5">
                                            <div class="row">
                                                <div class="col">
                                                    <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                        class="img-thumbnail img-annual-gallery h-100">
                                                </div>

                                                <div class="col">
                                                    <img src="../images/pexels-thisisengineering-3862132.jpg" alt=""
                                                        class="img-thumbnail img-annual-gallery">
                                                </div>

                                                <div class="col">
                                                    <img src="../images/pexels-thisisengineering-3861969.jpg"
                                                        alt="image" class="img-thumbnail img-annual-gallery">
                                                </div>
                                            </div>
                        </section>
                        <hr class="hr-facts-1">


                    <a href="/about/2018"><button type="button" class="btn btn-outline-info text-danger my-5 mx-3">2018-19</button></a>

                
                    <a href="/about/2017"><button type="button" class="btn btn-outline-info text-danger my-5 mx-3">2017-18</button></a>

                
                    <a href="/about/2016"><button type="button" class="btn btn-outline-info text-danger my-5 mx-3">2016-17</button></a>

                
                    <a href="/about/2015"><button type="button" class="btn btn-outline-info text-danger my-5 mx-3">2015-16</button></a>

    </section>
{{footer}}

    <!-- java script  -->
    <script src="../js/index.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous">
    </script>
</body>

</html>