<footer class="d-block bg-secondary p-1 mt-5">
    <p class="text-center text-light m-0 mt-2 fs-5">&copy; Copyright By Sanskar Bharti Trust | All Rights Reserved &hearts;</p>

    <!-- author  -->
    <p class="text-end text-light my-0">Designed By Aarav Shah</p>
</footer>