        <!-- side nav  -->
        <div class="side-nav">
            <div class="list-group w-100  ms-5">
                <!-- side nav tabs  -->
                <a href="cermony.html" class="list-group-item list-group-item-action active" aria-current="true">
                    Ceremony
                </a>
                <a href="deparment.html" class="list-group-item list-group-item-action">Departments</a>
                <a href="methodology.html" class="list-group-item list-group-item-action">Methodology</a>
                <a href="examination.html" class="list-group-item list-group-item-action">Examination</a>
                <a href="#" class="list-group-item list-group-item-action">Result</a>
                <a href="#" class="list-group-item list-group-item-action">Facility </a>
                <a href="#" class="list-group-item list-group-item-action">Parent Teacher Meeting</a>
            </div>
        </div>
