<!-- side nav  -->
            <div class="side-nav">
                <div class="list-group w-100  ms-5">
                  <!-- side nav tabs  -->
                    <a href="/about" class="list-group-item list-group-item-action active" aria-current="true">
                      History
                    </a>
                    <a href="profile.html" class="list-group-item list-group-item-action">School Profile</a>
                    <a href="/about/mission" class="list-group-item list-group-item-action">School Mission</a>
                    <a href="/about/vision" class="list-group-item list-group-item-action">School Vision</a>
                    <a href="#" class="list-group-item list-group-item-action">Facts & Figures</a>
                    <a href="#" class="list-group-item list-group-item-action">Memeber Trust </a>
                    <a href="#" class="list-group-item list-group-item-action">Governing Body </a>
                    <a href="#" class="list-group-item list-group-item-action">Faculty Members</a>
                    <a href="#" class="list-group-item list-group-item-action">Commitee</a>
                    <a href="#" class="list-group-item list-group-item-action">Annual Report</a>
                    <a href="#" class="list-group-item list-group-item-action">Calendar</a>
                    <a href="#" class="list-group-item list-group-item-action">Oasis</a>
                    <a href="#" class="list-group-item list-group-item-action">Text Books</a>
                    
                  </div>
            </div>
            <div class="img-div">
          